<div class="confirm-email-container">
    <img src="logo.png" alt="Logo Image" class="confirm-email-image">
    <h3 class="confirm-email-title">Congratulations!</h3>
    <p>A verification email has been sent to the provided address. It may take a few minutes to arrive.
        Make sure to check you spam and junk folder!
        <br><br>
        Once you’ve received the email, click on the link, log in and enjoy the great benefits of your new account!
    
    </p>
      <!-- Submit Button -->
      <button mat-raised-button class="back-to-homepage-button" [routerLink]="'/home'">BACK TO HOMEPAGE</button>

  </div>
  