:host {
  display: block;
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: 2em;
}

label{
  font-size: 12px;
  color: white;
}

mat-error {
  color: var(--error-color-lighter) !important;
  font-size: 12px;
  display: block;
}

.register-container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.register-image {
  max-width: 100px;
  height: auto;
}

.register-title {
  color: var(--beige);
  margin:0;
}

.register-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  width: 100%;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

mat-form-field {
  width: 100%;

}

.register-container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.register-image {
  max-width: 100px;
  height: auto;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between; /* This will place the buttons at opposite ends */
  margin-top: 1em;
  width: 100%; /* Make sure the button container spans the full width */
}

.back-button, .register-button {
  width: 30%; /* Set width to less than 50% to allow space between the buttons */
  padding: 0.8em;
  font-weight: normal;
  background-color: var(--secondary-color) !important;
  color: white !important;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button{
  background-color: var(--primary-color) !important;
}

.back-button:hover, .register-button:hover {
  background-color: var(--font-dark-blue);
  color: white;
}



.password-hint {
  font-size: 12px;
  color: white;
  margin-top: 5px;
}


.upload-button {
  width: 100%;
  margin-top: 5px;
  font-weight: normal;
  background-color: var(--secondary-color) !important;
  color: white;
}
.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.images-preview {
  position: relative;
  display: inline-block;
  margin-top: 1em;
}

.images-preview img {
  max-width: 150px;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
}





.image-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--error-color);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px; /* Adjust for better visual balance */
  width: 24px; /* Circle width */
  height: 24px; /* Circle height */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  padding: 0; /* Remove default button padding */
}

.image-close-btn:hover {
  background-color: var(--error-color);
}
