
<div class="container" *ngIf="!selectedNotification" >
    <mat-slide-toggle labelPosition="before"  [checked]="mute" (change)="toggleMute()">MUTE</mat-slide-toggle>

    <div class="notifications" >
        <div class="single-notification" *ngFor="let notification of notifications" (click)="notificationClick(notification)" >
          <div class="content">
            {{ notification.content }}
          </div>
          <div class="timestamp">
            {{ notification.timestamp }}
          </div>
        </div>
      </div>

</div>

<!-- Popup notifications -->
<div class="toast" *ngIf="showToast">
  {{ toastMessage }}
</div>
