::ng-deep .mat-dialog-container {
  background: rgba(0, 0, 0, 0.15);
}

h2 {
  align-self: center;
  color: var(--font-dark-blue) !important;
}

/* Kontejner za input i dugme */
.dialog-container {
  display: flex;
  justify-content: center; /* Horizontalno centriranje */
  align-items: center; /* Vertikalno centriranje */
  margin-top: 2rem; /* Razmak od vrha */
}


.color {
  background-color: var(--light-blue);
  color: var(--font-dark-blue);
}

/*.actions-container button {*/
/*  min-width: 100px; !* Ensures buttons are visually balanced *!*/
/*  color: white;*/
/*}*/

.primary-button {
  background-color: var(--secondary-color);
  color: white;
}

.cancel-button {
  background-color: var(--primary-color);
}

/* Centriranje Input polja i Invite dugmeta */
.input-pair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10em;
  padding-left: 10em;
  gap: 1em;
  margin-bottom: 1rem;
}

.email-input {
  flex: 1; /* Input polje rasteže se dok dugme Invite ostaje desno */

}

::ng-deep .invite-button {
  flex-shrink: 0 !important; /* Dugme ne rasteže se */
  color: var(--primary-color) !important;
}

/* Stil za listu pozvanih emailova */
.email-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f5faff; /* Svetlo plava pozadina */
  border-radius: 5px;
}

.delete-button {
  flex-shrink: 0; /* Dugme Delete ostaje male širine */
}

/* Dugmad u donjem delu */
.actions-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cancel-button {
  background-color: #b81d1d;
  color: white;
}

.submit-button {
  background-color: #004f6f;
  color: white;
}
