<h2 mat-dialog-title>Edit {{ eventTypeToEdit.name }}</h2>

<mat-dialog-content>
  <form [formGroup]="editEventTypeForm">
    <div class="form-container">
      <!-- Description Field -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter description" formControlName="description"></textarea>
      </mat-form-field>

      <!-- Selected Categories -->
      <div class="category-container">
        <h6 style="text-align: center;">Selected Categories</h6>
        <div class="selected-categories">
          <div class="category-item" *ngFor="let category of selectedCategories">
            <span>{{ category }}</span>
            <button type="button" class="remove-button" (click)="removeCategory(category)">Remove</button>
          </div>
        </div>
      </div>

      <!-- Dropdown for Adding Categories -->
      <div class="available-categories" style="text-align: center;">
        <h6>Available Categories</h6>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="addCategory($event.value)" placeholder="Select a category">
            <mat-option *ngFor="let category of availableCategories" [value]="category.name">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="actions-container">
  <button mat-raised-button mat-dialog-close class="cancel-button">CANCEL</button>
  <button mat-raised-button (click)="update()" class="primary-button">SAVE</button>
</mat-dialog-actions>
