:host {
  display: block;
  background-color: var(--primary-color);
  min-height: 90vh;
  padding: 2em;
}

label{
  font-size: 12px;
  color: white;
}

mat-radio-group{
  font-size: 14px;

}

.error-image-message{
  color: var(--error-color-lighter) !important;
  font-size: 12px;
}


mat-error {
  color: var(--error-color-lighter) !important;
  font-size: 12px;
  display: block;
}

.event-container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.event-image {
  max-width: 100px;
  height: auto;
}

.event-title {
  color: var(--beige);
  margin: 0px;
}

.event-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

mat-form-field {
  width: 400px;

}


.button-group {
  display: flex;
  justify-content: space-between; /* This will place the buttons at opposite ends */
  margin-top: 1em;
  width: 100%; /* Make sure the button container spans the full width */
}

#back-button2{
  margin-top: 10px;

}

.back-button  {
  width: 30%; /* Set width to less than 50% to allow space between the buttons */
  padding: 0.8em;
  font-weight: normal;
  background-color: var(--secondary-color) !important;
  color: white !important;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button{
  background-color: var(--primary-color) !important;
}

.back-button:hover {
  background-color: var(--font-dark-blue);
  color: white;
}

.next-button, .event-button {
  width: 30%;
  margin-top: 5px;
  font-weight: normal;
  background-color: var(--secondary-color) !important;
  color: white;
}

.next-button:hover, .event-button:hover {
  background-color: var(--font-dark-blue);
  color: white;
}



.upload-button {
  width: 100%;
  margin-top: 5px;
  font-weight: normal;
  background-color: var(--secondary-color) !important;
  color: white;
}
.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image-preview {
  position: relative;
  display: inline-block;
  margin-top: 1em;
}

.image-preview img {
  max-width: 150px;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
}

.image-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--error-color);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px; /* Adjust for better visual balance */
  width: 24px; /* Circle width */
  height: 24px; /* Circle height */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  padding: 0; /* Remove default button padding */
}

.image-close-btn:hover {
  background-color: var(--error-color);
}


.company-image-preview {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.company-image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.upload-button {
  width: 100%;
  font-size: 14px;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}
mat-card-title {
  font-size: 18px;
  color: var(--font-dark-blue);
  text-align: center;
}

mat-card-subtitle {
  font-size: 12px;
  color: var(--font-dark-blue);
  text-align: center;
}

mat-card-content {
  font-size: 12px;
  color: var(--font-dark-blue);
}

.activity-card p {
  margin: 0;
  padding: 0;
}

.activity-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Allows the button to be positioned independently */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}
