<div class="grid-container-top5events">

  <div class="grid-item">
    <div class="headers">
      <p class="header1">Get ready to experience the best of what’s happening near you!</p>
      <p class="header2">We've handpicked the top 5 events for you to explore.</p>
    </div>
  </div>

  <div class="grid-item">
    <!-- Ovde možeš implementirati karusel sa mat-card, ili drugi element za prikaz događaja -->
    <div *ngFor="let event of events; let i = index" class="carousel-item">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </div>
</div>

<div class="grid-container-top5solutions">
  <div class="grid-item">
    <!-- Ovde možeš dodati karusel sa owl-carousel ili drugi tip prikaza -->
    <!-- Na primer, ako koristiš owl-carousel, možeš koristiti sledeći kod: -->
    
    <div *ngFor="let event of events; let i = index" class="carousel-item">
      <app-event-card [event]="event"></app-event-card>
    </div>
    
  </div>

  <div class="grid-item">
    <div class="headers">
      <p class="header1">Get ready to experience the best of what’s happening near you!</p>
      <p class="header2">We've handpicked the top 5 events for you to explore.</p>
    </div>
  </div>

</div>

<div class="all-events">

  <div class="top-bar" >
    <p class="header2">All events</p>

    <div class="search-container">

      <button  class="filter-button" (click)="toggleFilterPanel()" matTooltip="Filter options">
        <mat-icon class="filter-icon">tune</mat-icon>
      </button>

      <div class="search-bar">
        <input class="search" type="search" placeholder="Search all events" >

        <button class="search-button">
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        
      </div>
      
    </div>
  </div>

  <div *ngIf="showFilterPanel" class="filter-panel">
    <form >
      <!-- Primer opcije za filter -->
      <mat-form-field>
        <mat-label class = "menu-location">Choose location</mat-label>
        <mat-select class = "menu-location" [formControl]="locations" multiple>
          <mat-select-trigger>
            {{ locations.value?.[0] || '' }}
            <span *ngIf="(locations.value?.length || 0) > 1" class="example-additional-selection">
              (+{{ (locations.value?.length || 0) - 1 }} {{ locations.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let location of locationsList" [value]="location">
            {{ location }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label class = "menu-event-type">Choose event type</mat-label>
        <mat-select [formControl]="eventTypes" multiple>
          <mat-select-trigger>
            {{ eventTypes.value?.[0] || '' }}
            <span *ngIf="(eventTypes.value?.length || 0) > 1" class="example-additional-selection">
              (+{{ (eventTypes.value?.length || 0) - 1 }} {{ eventTypes.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let eventTypes of eventTypesList" [value]="eventTypes">
            {{ eventTypes }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    </form>
  </div>

  <div class="events-cards">
    <div class="row-events">

      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      
    </div>
    <div class="row-events">

      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      
    </div>
    <div class="paginator">
      <mat-paginator [length]="100"
              [pageSize]="10"
              aria-label="Select page">
             
    </mat-paginator>
    </div>
    

    
  </div>

</div>

<div class="all-solutions">

  <div class="top-bar" >
    <p class="header2">All solutions</p>

    <div class="search-container">

      <button  class="filter-button">
        <mat-icon class="filter-icon">tune</mat-icon>
      </button>

      <div class="search-bar">
        <input class="search" type="search" placeholder="Search all services" >

        <button class="search-button">
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        
      </div>
      
    </div>
  </div>

  <div class="solutions-cards">
    <div class="row-services">

      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      
    </div>
    <div class="row-services">

      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      <div class="grid-item">
        <app-event-card></app-event-card>
      </div>
      
    </div>
    <div class="paginator">
      <mat-paginator [length]="100"
              [pageSize]="10"
              aria-label="Select page">
             
    </mat-paginator>
    </div>
    

    
  </div>

</div>





