.header1{
    color:var(--font-dark-blue);
    font-size: 3em;
    text-wrap: wrap;
    line-height: 1em;
}

.header2{
    font-size: 2em;
    color: var(--primary-color);
    text-wrap: wrap;
    line-height: 1em;
}

.grid-container-top5events .header1,
.grid-container-top5events .header2{
    text-align: left;
}

.grid-container-top5solutions .header1,
.grid-container-top5solutions .header2{
    text-align: right;
}


.grid-container-top5events {
    margin-top: 4em;
    margin-left: 8em;
    margin-right: 8em;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 1em;
}

.grid-container-top5solutions {
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 1em;
}

.all-events {
    position: relative;
    margin-top: 2em;
    margin-left: 6em;
    margin-right: 6em;
}

.all-solutions{
    position: relative;
    margin-top: 2em;
    margin-left: 6em;
    margin-right: 6em;
}

.top-bar{
    display: flex; /* Use flexbox for row layout */
    align-items: center; /* Vertically center the items */
    justify-content: space-between; /* Space out the elements */
}

.header2 {
    font-size: 2em;
    margin: 0;
}

.search-container {
    display: flex; /* Align filter button and search bar horizontally */
    align-items: center;
    margin-left: 2em;
}

.filter-button {
    border: none;
    background-color:  var(--light-beige);
    margin-right: 0.5em; /* Space between the filter button and search bar */
    height: 3em;
    padding: 0.5em;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--light-blue);
    border: var(--light-blue);
    border-radius: 20px;
    height: 3em;
    width: 30em;
    position: relative;
}

.search {
    background-color: var(--light-blue);
    border: none;
    border-radius: 20px;
    height: 3em;
    width: 100%;
    padding-left: 2em; /* Ensure padding for the search icon */
}

.search-icon {
    position: absolute;
    top: 0.6em;
    right: 0.5em;
    color: var(--font-dark-blue);
}

.filter-icon {
    color: var(--font-dark-blue);
}


.search-button {
    border: none;
    background-color:  var(--light-blue);
    margin-right: 0.5em; /* Space between the filter button and search bar */
    height: 3em;
    margin: 1em;
    cursor: pointer;
}

.search::placeholder {
    color: var(--font-dark-blue);
}


.events-cards{
    padding-top: 2em;
    margin-right: 2em;
}

.solutions-cards{
    padding-top: 2em;
    margin-right: 2em;
}

.row-events{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    margin-top: 1em;
    grid-gap: 1em
}


.row-services{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    margin-top: 1em;
    grid-gap: 1em;
    transition: transform 0.3s ease !important;

}

mat-paginator{
    background-color: var(--light-beige);
}


.filter-panel {
    background-color: var(--primary-color);
    color: var(--font-dark-blue);
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-top: 1.5em;
  }

  .filter-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Ensures responsiveness for smaller screens */
    gap: 1em; /* Space between items */
    vertical-align: center;
  }

  .filter-field {
    flex: 1 1 200px; /* Adjust width of dropdowns */
  }

  .filter-actions {
    margin-top: -1em;
    flex: 0 0 auto; /* Keep the button its natural size */
  }

  .filter-actions button {
    border-radius: 50%;
    cursor: pointer;
  }


.menu-location{
    background-color: #07779c;
}

mat-datepicker{
    background-color: #07779c;
}


.fixed-button {
    position: fixed;
    bottom: 5em;
    right: 5em;
    background-color: var(--secondary-color);
    color: var(--light-blue);
    border: none;
    padding: 1em 2em;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
  }

  .fixed-button:hover {
    background-color: var(--primary-color);
    color: var(--font-dark-blue);
  }

::ng-deep .p-carousel-prev {
    background-color: var(--font-dark-blue);
    width: 2.5em;
    height: 2.5em;
    color: white;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.5em;
    border: none;
    margin: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  ::ng-deep .p-carousel-next {
    background-color: var(--font-dark-blue);
    width: 2.5em;
    height: 2.5em;
    color: white;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.5em;
    border: none;
    margin: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }

  ::ng-deep .p-carousel-prev:hover, ::ng-deep .p-carousel-next:hover {
    background-color: var(--primary-color);
    color: var(--font-dark-blue);
  }

  ::ng-deep .p-carousel-item.p-carousel-item-active	{
    margin-right: 1.5em;
    margin-left: 1.5em;
  }



.visibility-field {
  width: 100%;
  padding: 0;
}

.visibility-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

mat-radio-button {
  margin: 0;
}
