/* Set background color and center all content */
:host {
    background-color: var(--primary-color); /* Use your primary blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */

}

/* Center the login container and add top padding */
.login-container {
    text-align: center;
    margin-top: -5%;
    width: 100%; /* Take up full width */
    max-width: 80%; /* Restrict max width for better readability */
}

/* Style the image */
.login-image {
    max-width: 100px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 1em; /* Add space below the image */
}

/* Style the title */
.login-title {
    color: var(--beige); /* Beige text */
}

/* Form and input fields */
.login-form {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    align-items: center;
    width: 100%;
}

mat-form-field {
    width: 80%; /* Responsive width for input fields */
    max-width: 400px; /* Limit max width for larger screens */
}

/* Style the button */
.login-button {
    width: 20%; /* Make button narrower than inputs */
    padding: 0.8em; /* Adjust padding for a better look */
    font-weight: normal;
    background-color: var(--secondary-color) !important; 
    color: white !important;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1em; /* Add spacing above the button */
}

.login-button:hover {
    background-color: var(--font-dark-blue); /* Change background on hover */
    color: white;
}


.regular-text {
    margin-top: 1em;
    font-size: 0.9em;
    text-decoration: none;
    color: var(--font-dark-blue);
  }
  
  .regular-text a {
    color: var(--yellow-accent);

  }
  
  .regular-text a:hover {
    text-decoration: underline;
  }



/* Ensure consistent spacing between text links */
.regular-text + .regular-text {
    margin-top: 0.5em;
}
