:host {
    background-color: var(--primary-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    overflow: hidden; 

}

.mat-error {
    color: #FFFF !important; /* Custom red color (Soft Red) */
    font-size: 14px;  /* Adjust font size if needed */
    font-weight: bold; /* Optionally, make the font bold */
}

.login-container {
    text-align: center;
    margin-top: -5%;
    width: 100%;
    max-width: 80%; 
}

.login-image {
    max-width: 100px; 
    height: auto; 
    margin-bottom: 1em; 
}

.login-title {
    color: var(--beige);
}

.login-form {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    align-items: center;
    width: 100%;
}

mat-form-field {
    width: 80%; 
    max-width: 400px; 
}

.login-button {
    width: 20%; 
    padding: 0.8em;
    font-weight: normal;
    background-color: var(--secondary-color) !important; 
    color: white !important;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1em; 
}

.login-button:hover {
    background-color: var(--font-dark-blue); 
    color: white;
}


.regular-text {
    margin-top: 1em;
    font-size: 0.9em;
    text-decoration: none;
    color: var(--font-dark-blue);
}

.regular-text a {
color: var(--yellow-accent);

}

.regular-text a:hover {
text-decoration: underline;
}



.regular-text + .regular-text {
    margin-top: 0.5em;
}
