

/* Title Styling */
h2 {
  align-self: center;
  color: var(--font-dark-blue) !important;
  margin-top: 0.8em;
  margin-bottom: -10px;
}

/* Form Field Styling */
.dialog-content {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Limit width */
  margin: auto; /* Center the form horizontally */
}

/* Form Field */
.form-field {
  width: 100%;
  margin-top: 30px;
}

/* Mat-dialog Actions (Buttons) */
.dialog-actions {
  padding-top: 20px;
}

.dialog-actions button {
  margin-left: 8px;
  color: white;
  text-transform: uppercase; /* Style buttons consistently */
}



.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 70%;
}

/* Hint Text */
.password-hint {
  font-size: 12px;
  color: var(--primary-color);
}


.primary-button {
  background-color: var(--secondary-color);
  color: white;
}

.cancel-button {
  background-color: var(--primary-color);
  color: white;
}
