<h2 mat-dialog-title class="dialog-title">Change Password</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="changePasswordForm">
    <!-- Old password -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Old Password</mat-label>
      <input
        matInput
        [type]="hideOldPassword ? 'password' : 'text'"
        placeholder="Old Password"
        formControlName="oldPassword"
      />
      <button
        mat-icon-button
        type="button"
        (click)="toggleOldPasswordVisibility()"
        matSuffix
      >
        <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="hideNewPassword ? 'password' : 'text'"
        placeholder="New Password"
        formControlName="newPassword"
      />
      <button
        mat-icon-button
        type="button"
        (click)="toggleNewPasswordVisibility()"
        matSuffix
      >
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        New password is required.
      </mat-error>
      <mat-hint class="password-hint">At least 8 characters, one uppercase letter, and one number.</mat-hint>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        placeholder="Confirm New Password"
        formControlName="confirmPassword"/>
      <button
        mat-icon-button
        type="button"
        (click)="toggleConfirmPasswordVisibility()"
        matSuffix
      >
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
        Confirm password is required.
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <div *ngIf="changePasswordErrorMessage" class="error-message">
      <mat-icon>error</mat-icon>
      <span>{{ changePasswordErrorMessage }}</span>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="actions-container">
  <button mat-raised-button mat-dialog-close class="cancel-button">CANCEL</button>
  <button mat-raised-button class="primary-button" (click)="onSubmit()">SAVE CHANGES</button>
</mat-dialog-actions>
