h2 {
  align-self: center;
  color: var(--font-dark-blue) !important;
}

.text {
  color: var(--font-dark-blue);
  font-size: 1.4em;
  text-align: center;
  line-height: 1.6;
  padding: 0.5em;
}

.highlight {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.6em;
}


.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
}

.actions-container button {
  min-width: 100px;
  color: white;
}

.primary-button {
  background-color: var(--secondary-color);
  color: white;
}

.cancel-button {
  background-color: var(--primary-color);
}
