<mat-dialog-content class="dialog-container">

  <!-- Image Preview and Cropping Section -->
  <div class="images-preview" *ngIf="uploadedImages.length > 0">
    <div *ngFor="let image of uploadedImages; let i = index" class="single-image-preview">
      <img [src]="imageUrls[i]" alt="Service Preview {{i + 1}}" />
      <button mat-icon-button aria-label="Remove Image" class="image-close-btn" type="button" (click)="clearCompanyImage(i)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions class="actions-container">
  <button mat-raised-button mat-dialog-close class="cancel-button">CANCEL</button>

  <input type="file" id="companyPictures" (change)="onServiceImageSelected($event)" style="display: none;" accept="image/*" multiple />
  <button mat-raised-button class="primary-button" type="button" (click)="triggerFileInput()">
    UPLOAD COMPANY PICTURES
  </button>

  <button mat-raised-button (click)="update()" class="primary-button">SAVE</button>

</mat-dialog-actions>
