<div class="confirmation-dialog">
  <div>
    <h6>We see you want to have more options!</h6>
    <p>Choose what you want to be!</p>

    <p class="options">
      <button mat-button class="role-button" (click)="onOrganizer()">ORGANIZER</button>
      <button mat-button class="role-button" (click)="onServiceProvider()">PRODUCT/SERVICE PROVIDER</button>
    </p>

    <div class="dialog-buttons">
      <button mat-button class="go-back-button" (click)="onCancel()">GO BACK</button>
    </div>
  </div>


</div>
