<h2 mat-dialog-title>Create New Service</h2>
<mat-dialog-content>
  <form  [formGroup]="createServiceForm">
    <div class="dialog-container">
      <!-- Left Column -->
      <div class="left-column">
        <mat-form-field appearance="fill" >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter service name" name="name" type="text" formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Enter description" name="description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Base price (€)</mat-label>
          <input matInput placeholder="Enter price" name="basePrice" type="number" formControlName="basePrice" min="0"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Discount (%)</mat-label>
          <input matInput placeholder="Enter discount" name="discount" type="number" formControlName="discount" min="0" max="100"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Event Type</mat-label>
          <mat-select formControlName="eventType" multiple>
            <mat-option *ngFor="let eventType of filteredEventTypes" [value]="eventType.id">
              {{ eventType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Right Column -->
      <div class="right-column">
        <button mat-raised-button class="primary-button">UPLOAD PICTURES</button>

        <mat-radio-group formControlName="acceptance">
          <mat-radio-button name="acceptance" value="auto">Auto accept</mat-radio-button>
          <mat-radio-button name="acceptance" value="manual">Manual accept</mat-radio-button>
        </mat-radio-group>

        <div class="checkbox-container">
          <mat-checkbox name="visible" formControlName="visible">Visible</mat-checkbox>
          <mat-checkbox name="available" formControlName="available">Available</mat-checkbox>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Duration (min)</mat-label>
          <input matInput placeholder="Enter duration" name="duration" type="number" formControlName="duration" min="0" max="1440"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Reservation window (days)</mat-label>
          <input matInput placeholder="Enter reservation window" name="reservationWindow" type="number" formControlName="reservationWindow" min="0" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cancellation window (days)</mat-label>
          <input matInput placeholder="Enter cancellation window" name="cancellationWindow" type="number" formControlName="cancellationWindow" min="0" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="actions-container">
  <button mat-raised-button mat-dialog-close class="cancel-button">CANCEL</button>
  <button mat-raised-button (click)="create()" class="primary-button">CREATE</button>
</mat-dialog-actions>
