.component {
  background-color: #fffdf5;
  padding: 2em;
}

.title {
  font-size: 2.5em;
  color: #073B4C;
}

/* Toolbar: Search and Create Button Row */
.toolbar {
  display: flex;
  justify-content: space-between; /* Align search container left and button right */
  align-items: center;
  margin-bottom: 1em;
}

.search-container {
  display: flex;
  align-items: center;
}

.filter-button {
  border: none;
  background-color: #fffdf5;
  margin-right: 0.5em;
  height: 3em;
  padding: 0.5em;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #e5f9ff;
  border-radius: 20px;
  height: 3em;
  width: 30em;
  position: relative;
}

.search {
  background-color: #e5f9ff;
  border: none;
  border-radius: 20px;
  height: 3em;
  width: 100%;
  padding-left: 2em;
}

.search::placeholder {
  color: #073b4c;
}

.search-icon {
  position: absolute;
  top: 0.6em;
  right: 0.5em;
  color: #073b4c;
}

.search-button {
  border: none;
  background-color: #e5f9ff;
  height: 3em;
  margin: 1em;
}

.filter-icon {
  color: #073b4c;
}

/* CREATE Button */
.create-button {
  height: 3em;
  background-color: #0D5B75 !important;
  color: white !important;
}

.create-button mat-icon {
  margin-right: 0.5em;
}

/* Table Styling */
.table-container {
  margin-top: 1em;
}

.table-header {
  background-color: #E5F9FF;
}
