<footer class="footer">
  <div class="footer-content">
    <p>
      This project was developed by <strong>Marija Parežanin</strong>, <strong>Vanja Kostić</strong>, and <strong>Luka Bradić</strong>.
    </p>
    <p>
      EventHopper is a college project for <em>Software engineering and informational technologies</em>, at Faculty of Technical Sciences Novi Sad
    </p>
    <p>
      Git Repository:
      <a href="https://github.com/kzi-nastava/iks-project-event-planner-siit-2024-team-17" target="_blank" rel="noopener noreferrer">
        Project GitHub Repository
      </a>
    </p>
    <p>
      <em>This project is currently in the development stage.</em>
    </p>
  </div>
</footer>
