<div class="event-container" *ngIf="!notFound && loaded">
  <!-- Top Section -->
  <div class="top-section">
    <img [src]="image" alt="Event cover image" class="event-image" />
    <div class="event-details">
      <div class="header">
        <h1>{{ this.eventDetails.name }}</h1>
        <mat-icon [ngClass]="{'filled': eventDetails.favorite}" (click)="toggleFavorites()" *ngIf="user?.id">star</mat-icon>
      </div>

      <p>
        {{ this.eventDetails.description }}
      </p>
      <div class="action-buttons">
        <button mat-button color="primary"  *ngIf="eventDetails.eventOrganizerLoggedIn && this.eventDetails.privacy === 'PRIVATE'" id="inviteBtn" (click) = "openInviteModal()">Invite People</button>
        <button mat-button id="exportBtn" (click) = "exportToPDF()">Export to PDF</button>
        <button mat-button id="exportBtn2"  *ngIf="eventDetails.eventOrganizerLoggedIn && this.eventDetails.privacy === 'PRIVATE'" (click) = "getGuestList()">Download Guest List</button>
        <button mat-button id="chatBtn"  *ngIf="eventDetails.conversationInitialization" (click) = "chatWithUs()">Chat with Organizer</button>

      </div>
    </div>
  </div>

  <!-- Banner Section -->
  <div class="info-banner"  *ngIf="!notFound && loaded">
    <div>
      <h3>{{this.location}}</h3>
    </div>
    <div>
      <h3>{{this.time}}</h3>
    </div>
    <div>
      <h3>{{ this.eventDetails.privacy === 'PUBLIC' ? 'Public' :
        this.eventDetails.privacy === 'PRIVATE' ? 'Private' : 'Unknown' }}</h3>
    </div>
  </div>

  <!-- Map Section -->
  <div class="map-container"  *ngIf="!notFound && loaded">
    <p height="300px" width="100%"></p>
  </div>


  <div class="loading-message" *ngIf="!loaded">
    <p>We were unable to find that event.</p>
  </div>

  <div class="error-message" *ngIf="notFound && loaded">
    <p>We were unable to find that event.</p>
  </div>
</div>

<app-chat-container
  *ngIf="this.showChat"
  (closeChat)="chatWithUs()"
  [conversation]="eventDetails.conversationInitialization"
>
</app-chat-container>
