<div class="event-container">
  <!-- Top Section -->
  <div class="top-section">
    <img [src]="image" alt="Event cover image" class="event-image" />
    <div class="event-details">
      <h1>{{ this.eventDetails.name }}</h1>
      <p>
        {{ this.eventDetails.description }}
        Kontig Tech Meetup is a dynamic gathering designed to inspire, connect, and empower technology enthusiasts, professionals, and innovators. This event brings together a vibrant community to exchange ideas, showcase cutting-edge advancements, and explore the latest trends in the tech world.

        Attendees can dive into engaging talks and panel discussions led by industry experts, covering a wide array of topics from software development and AI innovations to emerging technologies and startup success stories. The meetup also offers interactive workshops and hands-on sessions.
      </p>
      <div class="action-buttons">
        <button mat-button color="primary" id="inviteBtn" (click) = "openInviteModal()">Invite People</button>
        <button mat-button id="exportBtn" (click) = "exportToPDF()">Export to PDF</button>
      </div>
    </div>
  </div>

  <!-- Banner Section -->
  <div class="info-banner">
    <div>
      <h3>{{this.location}}</h3>
    </div>
    <div>
      <h3>{{this.time}}</h3>
    </div>
    <div>
      <h3>{{ this.eventDetails.privacy ? 'Public' : 'Private' }}</h3>
    </div>
  </div>

  <!-- Map Section -->
  <div class="map-container">
    <p height="300px" width="100%"></p>
  </div>
</div>
