.event-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  color:var(--font-dark-blue);


  .top-section {
    display: flex;
    width: 100%;

    .event-image {
      width: 50%; /* Take up half the container width */
      height: auto; /* Adjust height proportionally */
      min-height: 70vh; /* Ensure a minimum height equal to 50% of the viewport height */
      max-height: 70vh; /* Prevent excessive height for large screens */
      object-fit: contain; /* Prevent cropping or zooming */
      display: block;
    }

    .event-details {
      width: 50%; /* Take up the other half of the container */
      padding: 2%; /* Add some spacing inside */
      display: flex;
      flex-direction: column;
      justify-content: space-between;



      p {
        font-size: 1.2vw; /* Dynamically scale paragraph text */
        color:var(--font-dark-blue);
        margin-bottom: 2vh;
        line-height: 1.5;
      }

      .action-buttons {
        display: flex;
        gap: 2%; /* Space between buttons */

        button {
          font-size: 1.2vw; /* Dynamic button font size */
        }
      }
    }
  }

  .info-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide into three equal parts */
    width: 100%;
    background-color: var(--light-blue);
    padding: 2vh 0; /* Vertical padding using viewport height */
    text-align: center;

    h3 {
      font-size: 1.5vw; /* Dynamically scale text size */
      margin: 0;
    }
  }

  .map-container {
    width: 100%;
    max-width: 90vw; /* Restrict map width to 90% of the viewport width */
    margin: 5vh auto; /* Vertical margin using viewport height */
  }
}

#exportBtn{
  background-color: var(--primary-color);
  color: white;
  font-weight: normal;
}

#exportBtn:hover{
  background-color: var(--secondary-color);
}

#exportBtn2{
  background-color: var(--primary-color);
  color: white;
  font-weight: normal;
}

#exportBtn2:hover{
  background-color: var(--secondary-color);
}

#inviteBtn{
  color: var(--primary-color);
}

.error-message, .loading-message {
  font-size: 3em;
  color: var(--font-dark-blue);
  font-variant: all-petite-caps;
  text-align: center;
  margin: 15% 0;
  line-height: 1.2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header .mat-icon {
  color: var(--disabled-color);
  cursor: pointer;
  font-size: 2.5em;
  width: fit-content;
  height: fit-content;
}

.header .mat-icon.filled {
  color: var(--primary-color);
}
