<h3 *ngIf="this.user.role === 'EVENT_ORGANIZER'">Organizer</h3>
<h3 *ngIf="this.user.role === 'ADMIN'">Admin</h3>
<h3 *ngIf="this.user.role === 'SERVICE_PROVIDER'">Product/service provider</h3>
<h3 *ngIf="this.user.role === 'AUTHENTICATED_USER'">User</h3>

<div class="container">
    <div class="content">
      <!-- Card 1: Profile Picture and Buttons -->
      <div class="profile-picture-section">
        <img src="profile.png" alt="Profile Picture" class="profile-picture" />
        <button mat-raised-button class="btn"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }">CHANGE PROFILE PICTURE</button>


      </div>

      <!-- Card 2: Regular Text -->
      <div class="user-information-card">
        <div class = "information">
          <h5>Personal information</h5>

          <p><strong>Name:</strong> {{user.name}} {{user.surname}}</p>
          <p><strong>Email:</strong> {{user.email}}</p>
          <p><strong>Phone:</strong> +{{user.phoneNumber}}</p>
          <p><strong>Address:</strong> {{user.address}}, {{user.city}}</p>
        </div>
        <button mat-raised-button class="btn"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }"
                *ngIf="user.role != 'ADMIN'"
                (click)="openEditAccountInformation()">EDIT INFORMATION</button>
      </div>


      <!-- Card Extra PUP text -->
      <div class="company-information-card" *ngIf="user.role === 'SERVICE_PROVIDER'">
        <div class = "information">
          <h5>Company</h5>
          <p><strong>Name:</strong> {{user.companyName}}</p>
          <p><strong>Email:</strong> {{user.companyEmail}}</p>
          <p><strong>Phone:</strong> +{{user.companyPhoneNumber}}</p>
          <p><strong>Address:</strong> {{user.companyLocation.address}}, {{user.companyLocation.city}}</p>
        </div>
        <button mat-raised-button class="btn"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }"
                (click)="openEditCompanyInformation()">EDIT INFORMATION</button>
      </div>


      <!-- Card Extra PUP description -->
      <div class="company-information-card" *ngIf="user.role === 'SERVICE_PROVIDER'">
        <div class = "information">
          <p><strong>Description:</strong> {{user.companyDescription}}</p>
        </div>

        <button mat-raised-button class="btn"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }"
                (click)="openChangePasswordDialog()"
                *ngIf="this.user.role === 'SERVICE_PROVIDER'">CHANGE PASSWORD</button>


        <button *ngIf="this.user.role === 'SERVICE_PROVIDER'"
                mat-raised-button class="btn"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }"
                [routerLink]="'/my-solutions'">VIEW MY SOLUTIONS</button>


        <button mat-raised-button class="btn deactivate-account"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }"
                *ngIf="this.user.role === 'SERVICE_PROVIDER'" (click)="openConfirmationDialog()">DEACTIVATE ACCOUNT</button>

      </div>



      <!-- Card 3: Text and Buttons  and pup image carousel-->
      <div class="buttons-section">
        <button mat-raised-button class="btn"
                *ngIf="user.role === 'ADMIN'"
                (click)="openEditAccountInformation()">EDIT INFORMATION</button>

        <button mat-raised-button class="btn"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }"
                (click)="openChangePasswordDialog()"
                *ngIf="this.user.role != 'SERVICE_PROVIDER'">CHANGE PASSWORD</button>

        <button mat-raised-button class="btn"
                *ngIf="this.user.role === 'AUTHENTICATED_USER'"
                (click)="openUpgradingDialog()">UPGRADE PROFILE</button>

        <button mat-raised-button class="btn"
                *ngIf="this.user.role === 'ADMIN'"
                [routerLink]="'/admin-dashboard'">ADMIN DASHBOARD</button>



        <button mat-raised-button class="btn"
                *ngIf="this.user.role === 'EVENT_ORGANIZER'" (click)="openViewMyEvents()">VIEW MY EVENTS</button>

        <button mat-raised-button class="btn deactivate-account"
                *ngIf="this.user.role != 'SERVICE_PROVIDER' && this.user.role != 'ADMIN'"
                (click)="openConfirmationDialog()">DEACTIVATE ACCOUNT</button>



        <button mat-raised-button class="btn"
                [ngClass]="{ 'btn-pup': user.role === 'SERVICE_PROVIDER' }"
                *ngIf="this.user.role === 'SERVICE_PROVIDER'">MANAGE PHOTOS</button>

      </div>
    </div>


</div>
<mat-tab-group >
  <mat-tab label="My Calendar" *ngIf="user.attendingEvents">
    <app-profile-calendar [attendingEvents]="user.attendingEvents"
                          [myEvents]="user.myEvents"></app-profile-calendar>
  </mat-tab>

  <mat-tab label="Favorite Events">
    <app-favorite-events [favoriteEvents]="user.favoriteEvents"></app-favorite-events>
  </mat-tab>

  <mat-tab label="Favorite Products/Services">
    <app-favorite-solutions [favoriteSolutions] = "user.favoriteSolutions"></app-favorite-solutions>
  </mat-tab>
</mat-tab-group>
