h3 {
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 0px;
  color: var(--font-dark-blue);
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 90%;
  color: var(--font-dark-blue);
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile-picture-section, .user-information-card, .buttons-section{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  width: 32%;
  display: flex; /* Enable flexbox for layout */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center; /* Center align elements horizontally */

  text-align: center; /* Center align text */
}

.profile-picture-section, .buttons-section {
}

.information {
  text-align: left;
}




.buttons-section {
  gap: 0.8em; /* Adds spacing between buttons */
}

.profile-picture {
  max-width: 150px;
}


.btn {
  width: 70%;
  font-weight: normal;
  background-color: var(--secondary-color) !important;
  color: white !important;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 1em;

  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: center; /* Center content within the button */
  align-items: center;
}

.btn:hover {
  background-color: var(--font-dark-blue);
  color: white;
}

.btn.deactivate-account {
  background-color: var(--error-color) !important;
}





mat-tab-group {
  background-color: white;
}
